/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  padding: clamp(7.6063rem, 7.4302rem + 0.7512vw, 8.1063rem) 0;
  margin-bottom: 100px;
}

.primary-size {
  min-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}
